body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #201d1d;
    text-align: center;
    padding: 1rem;
}

nav ul {
   text-align: left;
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}
 main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
 }
 .fpick {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
 }

 .accion {
    background-color: #ecebeb;
    padding: 20px;
 }

 .contenedor-slider {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    background-color: #f9f9f9;
 }

 .slider {
    flex: 0 0 calc(33% - 23px);
    max-width: calc(33% - 23px);
    margin-right: 33px;
    padding: 15px;
    box-sizing: border-box;
 }

 .slider img {
    width: 100%;
    height: auto;
 }

 .slider:last-child {
    margin-right: 0;
 }

 .contact {
    background-color: #ecebeb;
    ;
    padding: 20px;
 }

 .contact h4 {
    text-align: center;
    margin-bottom: 20px;
 }

 .contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
 }

 .contact label {
    font-weight: bold;
 }

 .contact input,
 .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
 }
 
 .logo{
   color:  rgb(14, 196, 14);
 }
 footer{
   background-color: #201d1d;
   color: #ecebeb;
   padding: 1rem;
 }