body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #201d1d;
    text-align: center;
    padding: 1rem;
}

nav ul {
   text-align: left;
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}
 main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
 }
 .fpick {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
 }

 .accion {
    background-color: #ecebeb;
    padding: 20px;
 }

 .contenedor-slider {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    background-color: #f9f9f9;
 }

 .slider {
    flex: 0 0 calc(33% - 23px);
    max-width: calc(33% - 23px);
    margin-right: 33px;
    padding: 15px;
    box-sizing: border-box;
 }

 .slider img {
    max-width: 100%;
    height: auto;
 }

 .slider:last-child {
    margin-right: 0;
 }

 .contact {
    background-color: #ecebeb;
    ;
    padding: 20px;
 }

 .contact h4 {
    text-align: center;
    margin-bottom: 20px;
 }

 .contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
 }

 .contact label {
    font-weight: bold;
 }

 .contact input,
 .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
 }
 
 .logo{
   color:  rgb(14, 196, 14);
 }
 footer{
   background-color: #201d1d;
   color: #ecebeb;
   padding: 1rem;
 }

    /*Estilos adicionales para pantallas más pequeñas*/
    @media (max-width: 768px) {
      body {
          font-size: 14px;
          
      }
      
  }

  /*para aun mas pequeñas*/
  @media (max-width: 480px) {
      body {
          font-size: 12px;
         
      }
      
  }

  .contact input,
  .contact textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #0faf2a;
      transition: border-color 0.3s ease; /*Agrega una transición suave al color del borde*/
  }
  
  nav li:hover,
nav li:focus {
    background-color: #ccc; /*Cambia el fondo al pasar el ratón sobre el elemento*/
}

/* Estilo del texto al pasar el ratón sobre los elementos del menú */
nav li:hover a,
nav li:focus a {
    color: #333; /*Cambia el color del texto al pasar el ratón sobre el elemento*/
    font-size: 1.1em;/*1em es la unidad relativa al tamaño de la fuente del elemento 1.1 seria un incremento del 10%*/
}


.logo:hover,
.logo:focus {
    transform: scale(1.1); /*otra forma diferente a la anterior usando em, Escala el tamaño del logo al 110% */
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo porque es h1 */
}

html {
   scroll-behavior: smooth;
}

#formulario {
   scroll-margin-top: 50px; /*Ajusta según la altura que re redirecciona*/
}

.botonContacto {
    
   
padding: 10px 20px; /*Ajusta el relleno según sea necesario*/
   font-size: 16px; /*Tamaño de la fuente*/
   background-color: rgb(14, 196, 14); /* Color de fondo */
   color: #fff; /*Color del texto */
   border: none; /*Sin borde*/
   border-radius: 5px; /*Bordes redondeados*/
   cursor: pointer; /*Cambia el cursor*/
}

/*Estilo al pasar el cursor sobre el botón*/
.botonContacto:hover {
   background-color: rgb(110, 219, 107); /*Cambia el color de fondo al pasar el cursor */
}